@import './colors';

// font-family: 'Kumbh Sans', sans-serif;

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	font-size: 62.5%;
}

body {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100vh;
	background-color: $darkCyan;
	background-image: url(../images/bg-pattern-top.svg),
		url(../images/bg-pattern-bottom.svg);
	background-position: left -310px top -460px, right -310px bottom -460px;
	background-repeat: no-repeat, no-repeat;
	background-size: 1100px, 1100px;
	padding: 15px;
}

.card {
	width: 325px;
	height: 375px;
	background-color: $white;
	margin: 0;
	border-radius: 5%;
	overflow: hidden;
	&__bg {
		position: relative;
		padding: 0;
		margin: 0;
		width: 100%;
	}
	&__img {
		width: 100%;
	}
	&__person {
		position: absolute;
		width: 90px;
		top: 90px;
		left: calc(50% - 45px);
		border-radius: 50%;
		border: 5px solid $white;
	}
	&__body {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		height: 150px;
		font-family: 'Kumbh Sans', sans-serif;
	}
	&__name {
		font-size: 18px;
		font-weight: 700;
		color: $veryDarkDesaturatedBlue;
		span {
			font-weight: normal;
			margin-left: 5px;
			color: $darkGray;
		}
	}
	&__city {
		color: $darkGrayishBlue;
		font-size: 1.2em;
		margin-top: 5px;
	}
	&__line {
		width: 100%;
		height: 1px;
		background-color: $darkGray;
	}
	&__data {
		display: flex;
		flex-direction: row;
		justify-content: space-around;
		align-items: center;
		font-family: 'Kumbh Sans', sans-serif;
		text-align: center;
		height: 85px;
	}
	&__nameData {
		font-weight: 700;
		font-size: 1.5em;
	}
	&__dataText {
		color: $darkGray;
		font-size: 1.2em;
	}
}

footer {
	.attribution {
		font-size: 18px;
		text-align: center;
		margin-top: 5%;
		a {
			color: hsl(228, 45%, 44%);
		}
	}
}
